In [32]:
import numpy as np
import pandas as pd

In [33]:
data = pd.Series([0.25, 0.5, 0.75, 1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [34]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [35]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [36]:
data[1]

0.5

In [37]:
data[1:3]

1    0.50
2    0.75
dtype: float64

In [38]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],index=['a','b','c','d'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [39]:
data['b']

0.5

In [40]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],index=[2,5,3,7])
data

2    0.25
5    0.50
3    0.75
7    1.00
dtype: float64

In [41]:
data[5]

0.5

In [42]:
population_dict = {"California": 39250017,
                   "Texas": 27862596,
                   "Florida": 20612439,
                   "New York": 19745289,
                   "Illinois": 12801539}
population = pd.Series(population_dict)
population

California    39250017
Texas         27862596
Florida       20612439
New York      19745289
Illinois      12801539
dtype: int64

In [43]:
population['California']

39250017

In [44]:
population['California': 'Illinois']

California    39250017
Texas         27862596
Florida       20612439
New York      19745289
Illinois      12801539
dtype: int64

In [45]:
pd.Series([2,4,6])

0    2
1    4
2    6
dtype: int64

In [46]:
pd.Series(5, index=[100,200,300])

100    5
200    5
300    5
dtype: int64

In [47]:
pd.Series({2:'a', 1:'b', 3:'c'})

2    a
1    b
3    c
dtype: object

In [48]:
pd.Series({2:'a', 1:'b', 3:'c'}, index=[3, 2])

3    c
2    a
dtype: object

In [49]:
area_dict = {"California": 423967,
                   "Texas": 695662,
                   "Florida": 141297,
                   "New York": 170312,
                   "Illinois": 149995}
area = pd.Series(area_dict)
area

California    423967
Texas         695662
Florida       141297
New York      170312
Illinois      149995
dtype: int64

In [50]:
states = pd.DataFrame({"population": population, "area": area})
states

            population    area
California    39250017  423967
Texas         27862596  695662
Florida       20612439  141297
New York      19745289  170312
Illinois      12801539  149995

In [51]:
states.index

Index(['California', 'Texas', 'Florida', 'New York', 'Illinois'], dtype='object')

In [52]:
states.columns

Index(['population', 'area'], dtype='object')

In [53]:
states["area"]

California    423967
Texas         695662
Florida       141297
New York      170312
Illinois      149995
Name: area, dtype: int64

In [54]:
pd.DataFrame(population, columns=["population"])

            population
California    39250017
Texas         27862596
Florida       20612439
New York      19745289
Illinois      12801539

In [55]:
data = [{'a': i, 'b': 2*i}for i in range(3)]
pd.DataFrame(data)

   a  b
0  0  0
1  1  2
2  2  4

In [56]:
pd.DataFrame([{'a': 1, 'b': 2}, {'b': 3, 'c': 4 }])

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

In [57]:
pd.DataFrame({"population": population, "area": area})

            population    area
California    39250017  423967
Texas         27862596  695662
Florida       20612439  141297
New York      19745289  170312
Illinois      12801539  149995

In [58]:
pd.DataFrame(np.random.rand(3, 2),columns=["foo", "bar"], index=['a','b','c'])

        foo       bar
a  0.863840  0.354266
b  0.862198  0.019448
c  0.110018  0.855074

In [59]:
A = np.zeros(3, dtype=[('a', 'i8'),('b', 'f8')])
A

array([(0, 0.), (0, 0.), (0, 0.)], dtype=[('a', '<i8'), ('b', '<f8')])

In [62]:
pd.DataFrame(A)

   a    b
0  0  0.0
1  0  0.0
2  0  0.0

In [63]:
ind = pd.Index([2, 3, 5, 7, 11])
ind

Int64Index([2, 3, 5, 7, 11], dtype='int64')

In [64]:
ind[1]

3

In [65]:
ind[::2]

Int64Index([2, 5, 11], dtype='int64')

In [66]:
print(ind.size,ind.shape,ind.ndim, ind.dtype)

5 (5,) 1 int64

In [68]:
ind[1] = 0

TypeError: Index does not support mutable operations

In [70]:
indA = pd.Index([1, 3, 5, 7, 9])
indB = pd.Index([2, 3, 5, 7, 11])
indA & indB  # intersection

C:\Users\01\AppData\Local\Temp\ipykernel_12444\190841302.py:3: FutureWarning: Index.__and__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__and__.  Use index.intersection(other) instead.
  indA & indB # intersection

Int64Index([3, 5, 7], dtype='int64')

In [71]:
indA | indB  #union

C:\Users\01\AppData\Local\Temp\ipykernel_12444\2206824157.py:1: FutureWarning: Index.__or__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__or__.  Use index.union(other) instead.
  indA | indB  #union

Int64Index([1, 2, 3, 5, 7, 9, 11], dtype='int64')

In [72]:
indA ^ indB  #symmetrix defferenxe

C:\Users\01\AppData\Local\Temp\ipykernel_12444\1033431457.py:1: FutureWarning: Index.__xor__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__xor__.  Use index.symmetric_difference(other) instead.
  indA ^ indB  #symmetrix defferenxe

Int64Index([1, 2, 9, 11], dtype='int64')