In [1]:
import pandas as pd
data = pd.Series([0.25, 0.5, 0.75, 1.0], index=['a', 'b', 'c', 'd'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [2]:
data['b']

0.5

In [3]:
'a' in data

True

In [4]:
data.keys()

Index(['a', 'b', 'c', 'd'], dtype='object')

In [6]:
list(data.items())

[('a', 0.25), ('b', 0.5), ('c', 0.75), ('d', 1.0)]

In [7]:
data['e'] = 1.25
data

a    0.25
b    0.50
c    0.75
d    1.00
e    1.25
dtype: float64

In [9]:
data['a': 'c']

a    0.25
b    0.50
c    0.75
dtype: float64

In [10]:
data[0:2]

a    0.25
b    0.50
dtype: float64

In [11]:
data[(data > 0.3) & (data < 0.8)]

b    0.50
c    0.75
dtype: float64

In [12]:
data[['a', 'e']]

a    0.25
e    1.25
dtype: float64

In [14]:
data = pd.Series(['a', 'b', 'c'], index=[1, 3, 5])
data

1    a
3    b
5    c
dtype: object

In [15]:
data[1]

'a'

In [16]:
data[1:3]

3    b
5    c
dtype: object

In [17]:
data.loc[1]

'a'

In [18]:
data.loc[1:3]

1    a
3    b
dtype: object

In [19]:
data.iloc[1]

'b'

In [20]:
data.iloc[1:3]

3    b
5    c
dtype: object

In [21]:
 area = pd.Series({"California": 423967,
                   "Texas": 695662,
                   "Florida": 141297,
                   "New York": 170312,
                   "Illinois": 149995})
pop = pd.Series({"California": 39250017,
                   "Texas": 27862596,
                   "Florida": 20612439,
                   "New York": 19745289,
                   "Illinois": 12801539})
data = pd.DataFrame({"area": area, "pop": pop})
data

              area       pop
California  423967  39250017
Texas       695662  27862596
Florida     141297  20612439
New York    170312  19745289
Illinois    149995  12801539

In [22]:
data["area"]

California    423967
Texas         695662
Florida       141297
New York      170312
Illinois      149995
Name: area, dtype: int64

In [23]:
data.area

California    423967
Texas         695662
Florida       141297
New York      170312
Illinois      149995
Name: area, dtype: int64

In [24]:
data.area is data["area"]

True

In [25]:
data.pop is data["pop"]

False

In [26]:
data["density"] = data["pop"] / data["area"]
data

              area       pop     density
California  423967  39250017   92.578000
Texas       695662  27862596   40.051916
Florida     141297  20612439  145.880231
New York    170312  19745289  115.935982
Illinois    149995  12801539   85.346438

In [27]:
data.values

array([[4.23967000e+05, 3.92500170e+07, 9.25780002e+01],
       [6.95662000e+05, 2.78625960e+07, 4.00519160e+01],
       [1.41297000e+05, 2.06124390e+07, 1.45880231e+02],
       [1.70312000e+05, 1.97452890e+07, 1.15935982e+02],
       [1.49995000e+05, 1.28015390e+07, 8.53464382e+01]])

In [28]:
data.T

           California         Texas       Florida      New York      Illinois
area     4.239670e+05  6.956620e+05  1.412970e+05  1.703120e+05  1.499950e+05
pop      3.925002e+07  2.786260e+07  2.061244e+07  1.974529e+07  1.280154e+07
density  9.257800e+01  4.005192e+01  1.458802e+02  1.159360e+02  8.534644e+01

In [29]:
data.values[0]

array([4.23967000e+05, 3.92500170e+07, 9.25780002e+01])

In [30]:
data["area"]

California    423967
Texas         695662
Florida       141297
New York      170312
Illinois      149995
Name: area, dtype: int64

In [31]:
data.iloc[:3, :2]

              area       pop
California  423967  39250017
Texas       695662  27862596
Florida     141297  20612439

In [32]:
data.loc[:"Illinois", :"pop"]

              area       pop
California  423967  39250017
Texas       695662  27862596
Florida     141297  20612439
New York    170312  19745289
Illinois    149995  12801539

In [34]:
data.ix[:3, :'pop']

AttributeError: 'DataFrame' object has no attribute 'ix'

In [35]:
data.loc[data.density > 100, ['pop', 'density']]

               pop     density
Florida   20612439  145.880231
New York  19745289  115.935982

In [36]:
data.iloc[0, 2] = 90
data

              area       pop     density
California  423967  39250017   90.000000
Texas       695662  27862596   40.051916
Florida     141297  20612439  145.880231
New York    170312  19745289  115.935982
Illinois    149995  12801539   85.346438

In [37]:
data['Florida':'Illinois']

            area       pop     density
Florida   141297  20612439  145.880231
New York  170312  19745289  115.935982
Illinois  149995  12801539   85.346438

In [38]:
data[1:3]

           area       pop     density
Texas    695662  27862596   40.051916
Florida  141297  20612439  145.880231

In [39]:
data[data.density > 100]

            area       pop     density
Florida   141297  20612439  145.880231
New York  170312  19745289  115.935982